PORT=4000
CLIENT_ORIGIN=http://localhost:5173
JWT_SECRET=safhashabhsfvvajsvfhjavsvfhasvf
MONGODB_URI=


SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
EMAIL_FROM=Flowty <no-reply@flowty.dev>

CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret