PORT=4000
CLIENT_ORIGIN=http://localhost:5173
JWT_SECRET=safhashabhsfvvajsvfhjavsvfhasvf
MONGODB_URI=mongodb+srv://flowty-app:7SNCTJwPU6HbgSrC@flowty-cluster.yg8a9ca.mongodb.net/flowty?appName=flowty-cluster
